@media screen and (min-width: 1800px) {
    #hero {
        max-width: 80%;
        /* background-size: contain; */
    }

    .user-entry, .entry-holder {
        max-width: 90%;
        font-size: 1.5em;
    }

}

body {
    /* background: linear-gradient(rgba(250, 238, 216, 0.9),
    rgba(250, 238, 216, 0.9)),  */
    /* url('https://images.unsplash.com/photo-1534794048419-48e110dca88e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=80'); */
    background-size: contain;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

#app {
    color: #00002f;
    font-size: 1em;
    display: flex;
    /* align-items: center; */
}

.old-entry {
    margin: 1em;
}

.user-entry {
    margin: 0em 2em;
    align-self: center;
}

#zip {
    margin: 0em 0.5em;
    padding: 0.5em;
}

#feelings {
    margin: 0em 0.5em;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Dawning of a New Day', cursive;
    font-size: 1.7em;
    width: 90%;
    border: none;
}

/* .entry {
    background: rgba(211,235,242, 0.2);
} */

/* .response {
    padding: 0.5em;
} */

.date {
    color: #8ca0c5;
    font-size: 2.5em;
    font-family: 'Dawning of a New Day', cursive;

}

.temp {
    font-size: 3em;
    color: rgb(249, 231, 159);
    font-family: 'Dawning of a New Day', cursive;

}

#headline {
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Dawning of a New Day', cursive;
    font-size: 8.5em;
    color: white;
    font-weight: 200;
    width: 100vw;
    /* margin: 0; */
    text-align: center;
    /* top: 50; */
    align-self: center;
}

#hero {
    width: 100vw;
    height: 70vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* margin: 0; */
    margin: 0em auto 5em auto;
    border-radius: 0em .0em 7em 7em;
    background: linear-gradient(rgba(250, 238, 216, 0.1),
    rgba(250, 238, 216, 0.1)), url('./media/weather.jpg');
    /* background-size: cover; */
    /* max-width: 70%; */
    /* background-position-y: -370px; */

}

.zip {
    margin: 1em;
}

.feel {
    margin: 1em;
}

#title, .enter-header {
    margin: 0.5em;
    font-size: 4.5em;
    text-align: center;
    color: rgb(101, 150, 214);
}

.content {
    font-size: 1.9em;
    margin: 1em 0em;
}

hr {
    width: 50%;
}


.entry-holder {
    /* border: 1px solid #fdfde2; */
    padding: 1em;
     /* background: linear-gradient(rgba(25, 125, 218, .2),
     rgba(25, 125, 218, 0.05));  */
     margin: 4em 2em;
     border: .5em rgb(101, 150, 214) solid;
     /* border: 1em solid white; */
     border-radius: 1em;
    /* margin: 1em; */
}

label {
    display: block;
    font-size: 2em;
    padding: 0.5em;
    color: rgb(52, 73, 94, .7);

}

input {
    height: 60px;
    width: 320px;
    /* background:rgba(101, 150, 214, 0.1); */
    background: rgba(249, 231, 159, 0.1);

    color: #708090;
    font-size: 1.7em;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Dawning of a New Day', cursive;
    border: none;
}

#zip:hover, #feelings:hover {
    /* background: rgba(205,227,230, 0.1); */
    background: rgba(249, 231, 159, 0.3);

    transition: all 0.5s;
    /* border: .3px solid; */

}
/* 
.enter-header {
    font-size: 3em;
    text-align: center;
    color: rgb(101, 150, 214);
} */


button {
    width: 7em;
    height: 3em;
    background: rgba(101, 150, 214, .8);
    font-size: 2.5em;
    border: none;
    margin: 0.5em 1em 2em 1em;
    border-radius: .5em;
    color: white;
}

button:hover {
    background: rgb(101, 150, 214);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

textarea {
    padding: 0.5em;
    /* background:rgba(101, 150, 214, 0.2); */
    background: rgba(249, 231, 159, 0.1);

    color: #708090;
    font-size: 20px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #708090; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #708090; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #708090; 
}